* {
    background-image: url("images/planets.gif");
}

table,
th,
td {
    border: 4px solid rgb(97, 86, 247);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
}

#table {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#planets {
    text-align: center;
    font-size: 30px;
    color: crimson;
    font-family: system-ui;
}

#sun {
    text-align: center;
    height: 25px;
}